body {
    background: rgb(90, 25, 49);
    font: normal 15pt italic;
    color: rgb(90, 25, 49);
    
}

section {
    background: white;
     text-align: center;
    border-radius: 10px; /* deixa a borda arredondada.*/
    padding: 15px; /* aumenta a grossura da borda */
    width: 600px; /* muda a largura da borda */
    margin: auto; /* coloca a borda no meio */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.384); /* coloca sombra na borda */
}
p {
    text-align: center;
    padding: 8px;
    font: normal 20px arial ;
    color: rgb(0, 0, 0);
}
button {
    background-color: rgb(90, 25, 49);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: padding;
    margin-top: 20px;
    animation: deslizar 3s ease-in-out infinite;
    transition: transform 0.3s;
    
}
.tremer { /* chama a classe tremer */
  display: inline-block;
  transition: transform 0.2s;
}

 .tremer:hover { /* treme ao encostar o mouse no botão */
  animation: tremer 0.5s infinite;
}


footer {
    color: aliceblue;
    text-align: center;
    font-style: normal;

}
@keyframes tremer { /* animação para tremer */
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-3px); }
  50%  { transform: translateX(3px); }
  75%  { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

