body {
    background-color: #ffffff;
    color: #000000;
    font-family: italic, fantasy;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #9a89f7;
}

h2 {
    color: #368633;
}

button {
    background-color: #b5b0fa;
    color: rgb(10, 10, 10);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

}

button:hover {
 background-color: #9ee97b;

}

p {
color: #020202;
font-family: italic, fantasy;
text-align: center;
}